@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url("images/clear.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

body {
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 20px 70px;
    color: #fff;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container {
    font-weight: 100;
}

.date-container .time {
    font-size: 70px;
}

.date-container #am-pm {
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date {
    font-size: 30px;
}

.place-container {
    text-align: end;
}

.place-container .time-zone {
    font-size: 30px;
    font-weight: 100;
    display: inline-block;
}

.place-container .icons {
    font-size: 30px;
    font-weight: 100;
    display: inline-block;
    text-align: center;
}

.place-container .icons .temp {
    font-weight: 700;
    position: absolute;
    bottom: 450px;
    right: 150px
}

.place-container .icons .description {
    font-size: 25px;

    position: absolute;
    bottom: 452px;
    right: 75px
}

.place-container .temp {
    font-size: 30px;
    font-weight: 100;
    display: inline-block;
}

.place-container .country {
    font-size: 12px;
    font-weight: 700;
}

.current-info .others {
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
}

.current-info .others .weather-item {
    display: flex;
    justify-content: space-between;
}

/* Media Query for Small Screens */
@media only screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .date-container .time {
        font-size: 50px;
    }

    .date-container #am-pm {
        font-size: 20px;
    }

    .date-container .date {
        font-size: 20px;
    }

    .place-container .time-zone {
        font-size: 20px;
    }

    .place-container .icons {
        font-size: 20px;
    }

    .place-container .icons .temp {
        bottom: 350px;
        right: 50px;
    }

    .place-container .icons .description {
        bottom: 352px;
        right: 25px;
        font-size: 15px;
    }

    .place-container .temp {
        font-size: 20px;
    }

    .place-container .country {
        font-size: 10px;
    }
}
